{% extends "layout.njk" %}

    {% block head %}
        <title>Not Found</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

    {% block content %}
        <div class="page-not-found">
            <img src="https://drishte.com/static/images/error-404.png" alt="">  
            <p>Sorry, the page you are looking for could not be found</p>
            <a href="/">Go Home!</a>
        </div>
    {% endblock %}